<form asp-action="Index">
    <label>Họ tên:</label>
    <input type="text" name="Fullname">
     <label>Tuổi:</label>
    <input type="number" name="Tuoi">
     <label>Địa chỉ:</label>
    <input type="text" name="Adderss">
    <input type="submit" value="send">
</form>
<h2>@ViewBag.tbmn</h2>


<!--
Lê Khánh Ly - 2021050423
Bài thực hành trên lớp ngày 27/08
-->