<h1>@ViewBag.HH</h1>

<form asp-action="Index">
    <label>Nhập ID SV:</label>
    <input type="text" name= "StudentID">
    <label>Nhập Họ Tên SV:</label>
    <input type="text" name= "Fullname">
    <label>Nhập Họ STT SV:</label>
    <input type="text" name= "STT">
    <input type="submit" value= "Gửi dữ liệu">
</form>

Update Homework (20/08)
Le Khanh Ly - 2021050423